<footer>
    <div class="rodape container-grid container col-11 col-sm-10 col-md-10 col-lg-11">
        <div class="secao-rodape">
            <br>
            <h3>Onde estamos</h3>
            <br>
            <div class="localizacao">
                <!-- <center> -->
                <p>
                    Riacho Ipiranga
                    <br>
                    Rua Dom Pedro, 1822
                </p>
                <br>
                <a href=""><img src="assets/img/logo-maps.png" alt="endereço no google maps"></a>
                <!-- </center> -->
            </div>
        </div>
        <div class="secao-rodape">
            <br>
            <h3>Contato</h3>
            <br>
            <div class="secao-contato">
                <!-- <center> -->
                    <a href="#"><p>(99) 9 9999-9999</p></a>
                    <br>
                    <a href="#"><p>gamemania@gmail.com</p></a>
                    <br>
                    <a href="#"><img src="assets/img/logo-wpp.png" alt="logo do whatsapp"></a>
                    <a href="#"><img src="assets/img/logo-gmail.png" alt="logo do gmail"></a>
                <!-- </center> -->
            </div>
        </div>
        <div class="secao-rodape">
            <br>
            <h3>Siga-nos nas Redes Sociais</h3>
            <br>
            <div class="redes-sociais">
                <!-- <center> -->
                    <a href="#"><p>@game_mania</p></a>
                    <br>
                    <a href="#"><img src="assets/img/logo-facebook.png" alt="logo do facebook"></a>
                    <a href="#"><img src="assets/img/logo-instagram.jpg" alt="logo do instagram"></a>
                <!-- </center> -->
            </div>
        </div>
        <button id="voltar-ao-topo"><img src="assets/img/seta-cima3.png" alt="seta para cima"></button>
    </div>
</footer>