<!-- <body> -->
<app-header></app-header>
<main>
    <section class="banner">
        <div class="container-grid posicionamento-banner container col-11 col-sm-10 col-md-10 col-lg-11">
            <div class="conteudo-banner">
                <a href="#"><h1>SALDÃO DE AGOSTO</h1></a>
                <p>Tudo para o seu PC gamer <br> com até 30% OFF!</p>
            </div>
            <img src="assets/img/pexels-photo.jpeg" alt="Foto do banner" id="foto-banner">
        </div>
    </section>
    <section class="banner-toggle">
        <div class="container-grid posicionamento-banner col-11 col-sm-10 col-md-10 col-lg-11">
            <div class="conteudo-banner">
                <br>
                <a href="#"><h1>SALDÃO DE AGOSTO</h1></a>
                <br>
                <img src="assets/img/pexels-photo.jpeg" alt="Foto do banner">
                <br>
                <p>Tudo para o seu PC gamer <br> com até 30% OFF!</p>
            </div>
        </div>
    </section>
    <section class="ofertas">
        <br>
        <h2>ofertas</h2>
        <br>
        <br>
        <div class="container-grid produtos-ofertas container col-11 col-sm-10 col-md-10 col-lg-11">
            <div class="card">
                <button id="compra" (click)="consultarFrete()">
                <img src="assets/img/xbox.jpg" alt="xbox series x">
                <h3>Xbox Series X</h3>
                    <p>Descrição do produto</p>
                    <p class="preco"><del>R$ 00,00</del><br>R$ 00,00</p>
                </button>
            </div>
            <br>
            <div class="card">
                <button id="compra" (click)="consultarFrete()">
                <img src="assets/img/teclado.jpg" alt="teclado e mouse">
                <h3>Kit Teclado + Mouse</h3>
                    <p>Descrição do produto</p>
                    <p class="preco"><del>R$ 00,00</del><br>R$ 00,00</p>
                </button>
            </div>
            <br>
            <div class="card">
                <button id="compra" (click)="consultarFrete()">
                <img src="assets/img/game-boy.jpg" alt="game boy">
                <h3>Game Boy</h3>
                    <p>Descrição do produto</p>
                    <p class="preco"><del>R$ 00,00</del><br>R$ 00,00</p>
                </button>
            </div>
            <br>
            <div class="card">
                <button id="compra" (click)="consultarFrete()">
                <img src="assets/img/nintendo-switch.jpg" alt="nintendo switch">
                <h3>Nintendo Switch</h3>
                    <p>Descrição do produto</p>
                    <p class="preco"><del>R$ 00,00</del><br>R$ 00,00</p>
                </button>
            </div>
        </div>
    </section>
    <section class="mais-vendidos">
        <br>
        <h2>mais vendidos</h2>
        <br>
        <br>
        <div class="container-grid produtos-mais-vendidos container col-11 col-sm-10 col-md-10 col-lg-11">
            <div class="card">
                <button id="compra" (click)="consultarFrete()">
                <img src="assets/img/mouse.jpg" alt="mouse">
                <h3>Mouse Gamer</h3>
                    <p>Descrição do produto</p>
                    <p>R$ 00,00</p>
                </button>
            </div>
            <br>
            <div class="card">
                <button id="compra" (click)="consultarFrete()">
                <img src="assets/img/joystick.jpg" alt="controle de ps4">
                <h3>Dualshock para PS4</h3>
                    <p>Descrição do produto</p>
                    <p>R$ 00,00</p>
                </button>
            </div>
            <br>
            <div class="card">
                <button id="compra" (click)="consultarFrete()">
                <img src="assets/img/base-cooler.jpg" alt="base cooler para notebook">
                <h3>Base para Notebook</h3>
                    <p>Descrição do produto</p>
                    <p>R$ 00,00</p>
                </button>
            </div>
            <br>
            <div class="card">
                <button id="compra" (click)="consultarFrete()">
                <img src="assets/img/headset.jpg" alt="headset">
                <h3>Headset Gamer</h3>
                    <p>Descrição do produto</p>
                    <p>R$ 00,00</p>
                </button>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>
<!-- </body> -->