/* O "reset", os "media queries" e o "container-grid" foram transferidos para ./src/style.css*/
/* O "header" foi transferido para header.component.css*/
/* O "footer" foi transferido para footer.component.css*/

.banner{
    height: 500px;
    background-repeat: no-repeat;    
    background-position: center;
    background-color: #0f044e;
    background-size: cover;
}

.banner-toggle{
    display: none;
}

.banner img{
    border-radius: 25px;
    padding-left: 10px;
    width: 600px;
    height: 400px;
}

.conteudo-banner{
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 10px;
}

.conteudo-banner a{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    background-color: #080708;
    color: #FF0022;
    padding: 20px;
    border-radius: 40px;
    text-decoration: none;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.conteudo-banner p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
}

.posicionamento-banner{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
}

h2{
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    text-decoration: underline overline;
    color: white;
}

main h3{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
    line-height: 25px;
    color: white;
}

.card{
    flex-direction: column;
}

main button{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border: none;
    box-shadow: 5px 5px 5px 5px black;
}

.ofertas button, .mais-vendidos button{
    background-color: #0f044e;
}

.ofertas{
    height: 570px;
    background-color: #0f044e;
}

p.preco>del{
    opacity: 0.4;
}

.mais-vendidos{
    height: 520px;
    background-color: #0f044e;
}

.mais-vendidos img, .ofertas img{
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
}

.mais-vendidos p, .ofertas p{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    color: white;
    text-transform: capitalize;
}

.ofertas button:hover, .mais-vendidos button:hover{
    transform: scale(1.1);
}

.produtos-mais-vendidos, .produtos-ofertas{
    display: flex;
    justify-content: space-evenly;
    background-color: #0f044e;
}