<header>
    <div class="container-grid cabecalho col-11 col-sm-10 col-md-10 col-lg-11">
        <div class="logo-nome">
            <img src="assets/img/logo-game-mania.jpg" alt="Logo Game Mania">
            <div class="nome-site">
                <a href="index.html"><p>Game Mania</p></a>
            </div> 
        </div>
        <div class="barra-pesquisa">
            <input type="text" id="name" placeholder="  procure em nosso site...">
            <a type="button" href="#"><img src="assets/img/lupa.jpg" alt="lupa-pesquisa"></a>
        </div>
        <div class="barra-pesquisa-toggle">
            <img src="assets/img/lupa.jpg" alt="lupa-pesquisa" class="btn">
        </div>
        <nav class="menu" id="menu">
                <a routerLink="/login">login/cadastro</a>
                <a href="#">ajuda</a>
                <a href="#">favoritos</a>
                <a href="#">carrinho</a>
        </nav>
        <div class="menu-toggle" id="menu-toggle">
            <img src="assets/img/menu-toggle.png" alt="" class="btn" onclick="mostrarMenu()">
        </div>
    </div>
    <div class="menu-navbar container-grid col-11 col-sm-10 col-md-10 col-lg-11">
            <a href="#">pc gamer</a>
            <a href="#">periféricos</a>
            <a href="#">jogos</a>
            <a href="#">consoles</a>
            <a href="#">acessórios</a>
    </div>
</header>